<html lang="en" xmlns:th="https://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorate="~{fragments/layout}">



<body>
	<div layout:fragment="body">
		<!-- Breadcrumb Start -->
		<div class="container-fluid">
			<div class="row px-xl-5">
				<div class="col-12">
					<nav class="breadcrumb bg-light mb-30">
						<a class="breadcrumb-item text-dark" href="#">Home</a> <span
							class="breadcrumb-item active">Sign Up</span>
					</nav>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->


		<!-- Contact Start -->
		<div class="container-fluid">
			<h2
				class="section-title position-relative text-uppercase mx-xl-5 mb-4">
				<span class="bg-secondary pr-3">Create Account</span>
			</h2>
			<div class="row px-xl-5">
				<div class="col-lg-4 mb-5"></div>
				<div class="col-lg-4 mb-5">
					<div class="alert alert-success" th:if="${success!=null}">
						<strong>Success!</strong> <span th:text="${success}"></span>.
					</div>
					<div class="alert alert-danger" th:if="${error!=null}">
						<strong>Danger!</strong> <span th:text="${error}"></span>.
					</div>
					<div class="contact-form bg-light p-30">
						<div id="success"></div>
						<form th:action="@{/registration}" method="post"
							th:object="${customerForm}">
							<div class="control-group">
								<input type="text" class="form-control" id="name"
									th:field="*{name}" placeholder="Your Name" />
								<p class="help-block text-danger"></p>
							</div>
							<div class="control-group">
								<input type="email" class="form-control" id="email"
									th:field="*{username}" placeholder="Your Email" />
								<p class="help-block text-danger"></p>
							</div>
							<div class="control-group">
								<input type="text" class="form-control" id="password"
									th:field="*{password}" placeholder="Password" />
								<p class="help-block text-danger"></p>
							</div>
							<div class="control-group">
								<input type="text" class="form-control" id="mobile"
									th:field="*{mobile}" placeholder="Mobile Number" />
								<p class="help-block text-danger"></p>
							</div>
							<div class="control-group">
								<input type="text" class="form-control" id="address"
									th:field="*{address}" placeholder="Address" />
								<p class="help-block text-danger"></p>
							</div>
							<div>
								<button class="btn btn-primary py-2 px-4" type="submit">Sign
									Up</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-4 mb-5"></div>
			</div>
		</div>
		<!-- Contact End -->
	</div>
</body>
</html>